.wrapper {
  overflow:hidden;
  margin: 100px 100px 100px 100px
}

.wrapper div {
   min-height: 170px;
   padding: 20px 10px 10px 10px;
   border-radius: 10px;
   width: 80%;
}

.me {
  border-radius: 50%;
}


#me {
  background-color: black;
  float:left;
  margin-right:20px;
  width:140px;
  border-right:2px solid #000;
}
#greeting {
  background-color: black;
  color: #336600;
}

@media screen and (max-width: 400px) {
   #one {
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    border-bottom:2px solid #000;
  }
}
