html {
  scroll-behavior: smooth;
  background-color: #336600;
 }

 body {
   padding: 0;
   margin: 0;
 }

 img {
   max-width: 100%;
   height: auto;
 }

h2 {
  font-size: 30px;
}

footer p {
  font-size: 2vw;
}

footer {
  background-color: black;
  color: #336600;
  padding-top: 10px;
  width: 100%;
  display: flex;
}

* {
  font-family: 'Raleway', sans-serif;
}

.menu-button {
  margin: auto;
  border-radius: 25px;
  background-color: black;
  color: #336600;
}

.about-page {
  width: 80%;
  margin: auto auto 100px auto;
}

.contact {
  width: 80%;
  margin: auto;
}

.menu-box {
  margin: auto;
}

.contact-box {
  width: 20%;
  margin: auto;
  text-align: center;
}
