html {
  scroll-behavior: smooth;
  background-color: #336600;
 }

 body {
   padding: 0;
   margin: 0;
 }

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 30px;
}

footer p {
  font-size: 2vw;
}

* {
  font-family: 'Raleway', sans-serif;
}

.me-image {
  border: 20px solid black;
  border-radius: 25px;
  width: 50%;
  max-width:400px;
}

.menu-button {
  margin: auto;
  border-radius: 25px;
  background-color: black;
  color: #336600;
}

.home-page{
  width: 80%;
  margin: 100px auto 100px;
  display: flex;
  align-items: center;

}

.projects-page {
  width: 80%;
  margin: auto;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.column {
  background-color: black;
}

.about-page {
  width: 80%;
  margin: auto auto 100px auto;
}

.contact-page {
  width: 80%;
}

.menu-box {
  margin: auto;
}

.contact-box {
  width: 20%;
  margin: auto;
  text-align: center;

}



footer {
  background-color: black;
  color: #336600;
  padding-top: 10px;
  width: 100%;
  display: flex;
}
