html {
  scroll-behavior: smooth;
  background-color: #336600;
 }

 body {
   padding: 0;
   margin: 0;
 }

h2 {
  font-size: 4vw;
}

footer img {
  max-width: 100%;
  height: auto;
}

footer p {
  font-size: 2vw;
}

footer {
  background-color: black;
  color: #336600;
  padding-top: 10px;
  width: 100%;
  display: flex;
}

* {
  font-family: 'Raleway', sans-serif;
}

.main-content {
  width: 80%;
  margin: auto auto 100px auto;
}

.main-content h2 {
  font-size: 6vw;
}

.main-content p {
  font-size: 6vw;
}

.contact h2{
  font-size: 6vw;
}

.contact {
  width: 80%;
  margin: auto;
}

.menu-box {
  margin: auto;
}

.contact-box {
  width: 20%;
  margin: auto;
  text-align: center;
}

.me {
  border: 1vh solid black;
  border-radius: 50%;
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1000px) {
  h2 {
    font-size: 30px;
  }
  .me {
    width: 200px;
  }
  .contact-box img {
    max-width: 120px;
  }
  .contact-box p {
    font-size: 20px;
  }
  .main-content p {
    font-size: 50px;
  }
  .main-content h2 {
    font-size: 60px;
  }
  .contact h2 {
    font-size: 60px;
  }
