html {
  scroll-behavior: smooth;
  background-color: #336600;
 }

* {
  font-family: 'Raleway', sans-serif;
}


.menu-button {
  padding: 50px 100px 50px 100px;
  margin: 0px 100px 0px 100px
}

.home-page{
  margin: 400px 0px 400px 0px

}

.projects-page {

}

.resume-page {

}

.contact-page {

}

.contact-box {

}

.project-box {
  padding: 200px 50px 200px 50px;
  margin:  0px 50px 0px 50px;
  background-color: green;
}

.footer {
  background-color: green;
}
