.projects-page {
    width: 80%;
    margin: auto;
    display: block;
  }
  
  .project-box {
    padding: 200px 50px 200px 50px;
    margin:  1% 1% 1% 1%;
    background-color: black;
    display: inline-block;
    width: 24%;
    color: #336600;
    border-radius: 25px;
  }